@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(image/patt.png);
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row::after, .menu::after, .sub-menu::after, .nav::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-1 {
    width: 8,33333%;
}

.col-2 {
    width: 16,66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33%;
}

.col-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-7 {
    width: 58,33333%;
}

.col-8 {
    width: 67%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgba(225, 225, 225, 0.75);
    padding: 25px 0;
}

.logo {
    margin-top: 7px;
}

.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu:last-child {
    border-right: 1px solid #2c71b8;
}

.menu > li > a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.menu >li > a:hover {
    background-color: #2c71b8;
    color: white;
}


.menu > li:hover .sub-menu {
    display: block;
    width: 286px;
    background-color: #2c71b8;
    left: -1px;
}

.sub-menu {
    display: none;
    position: absolute; 
}

.sub-menu > li > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 300;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
}

.sub-menu > li > a:hover {
    color: #2c71b8;
}

.sub-menu > li:hover  {
    background-color: white;
}


.form-search-header {
    border: 1px solid #2c71b8;
    padding-left: 19px;
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.form-search-header input {
    background-color: transparent;
    border: none;
    font: 1em sans-serif;

}

.form-search-header input:focus {
    outline: none;
}

.form-search-header button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border: none;
    top: 4px;
    right: 4px;
}

::placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

.cart-header {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
    padding: 10px 12px 10px 10px;
    margin-top: 5px;
}

.product-count {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    
}

.slider {
    height: 400px;
    background-color: rgba(35, 90, 147, 0.75);
    border-bottom: 1px solid white;
}

.background:hover > a {
    background-color: #2c71b8;
    color: white;
}

.arrow {
    position: relative;
}


.arrow::after {
    content: "";
    background-image: url('image/arrow.png');
    display: block;
    position: absolute;
    left: 117px;
    top: 19px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;

}

.arrow:hover::after {
    content: "";
    background-image: url('image/arrow.white.png');
    display: block;
    position: absolute;
    left: 117px;
    top: 19px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;

}

.nav > li{
    float: left;
}

.nav > li > a{
    display: block;
    text-decoration: none;
    color: #96b8dc;
    font-size: 14px;
    padding-right: 20px;
    margin-top: 32px;
    margin-bottom: 27px;
    position: relative;
}


.arrow-concole-1, .arrow-concole-2 {
    position: relative;
}

.arrow-concole-1::after {
    content: "";
    background-image: url('image/arrow-2.png');
    display: block;
    position: absolute;
    left: 77px;
    top: 2px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

.arrow-concole-2::after {
    content: "";
    background-image: url('image/arrow-2.png');
    display: block;
    position: absolute;
    left: 60px;
    top: 2px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

.name-menu-prodacts {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.menu-sort > li {
    position: relative;
}

.menu-sort > li > a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    width: 263px;
    padding-left: 20px;
    background-color: #2c71b8;
}

.menu-sort > li:hover .sub-menu-sort {
    display: block;
    width: 263px;
    background-color: #2c71b8;
    z-index: 10;

}

.sub-menu-sort {
    display: none;
    position: absolute; 
}

.sub-menu-sort > li > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 300;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
}

.sub-menu-sort > li > a {
 border-top: none;
}

.sub-menu-sort > li > a:hover {
    background-color: white;
    color: #2c71b8;
}

.arrow-white {
    position: relative;
}

.arrow-white::after {
    content: "";
    background-image: url('image/arrow.white.png');
    display: block;
    position: absolute;
    left: 230px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;

}





